%header.px-4.py-5.mx-auto.sm:max-w-xl.md:max-w-full.lg:max-w-screen-xl.md:px-24.lg:px-8
  - if Rails.env.production?
    %script{"data-domain" => "wonder-of-life-festival.fi", :defer => "defer", :src => "/js/script.js"}
  .relative.flex.items-center.justify-between
    %a.inline-flex.items-center{"aria-label" => "Hub Feenix", :href => "/", :title => "Wonder of Life Festival"}
      = image_tag("logo_large.jpg" , class: "h-20")
    %ul.flex.items-center.hidden.space-x-8.lg:flex
      - main_menu.each do |link , text|
        %li
          %a.font-medium.tracking-wide.text-gray-700.transition-colors.duration-400.hover:text-cyan-800{"aria-label" => "Our product", :href => link, :title => text}= text
      %li
        = link_to "https://www.facebook.com/wonderoflifefestival/" , :target => "_blank" do
          = image_tag("fb.webp" , class: "h-10 rounded-md")

    .lg:hidden.flex.items-center.justify-between
      .mr-20
        = link_to "https://www.facebook.com/wonderoflifefestival" , :target => "_blank" do
          = image_tag("fb.webp" , class: "h-10 rounded-md")
      %button.p-2.-mr-1.transition.duration-200.rounded.focus:outline-none.focus:shadow-outline.hover:bg-deep-purple-50.focus:bg-deep-purple-50{"aria-label" => "Open Menu", :title => "Open Menu" , onclick: "menu_on();"}
        %svg.w-5.text-gray-600{:viewbox => "0 0 24 24"}
          %path{:d => "M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z", :fill => "currentColor"}
          %path{:d => "M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z", :fill => "currentColor"}
          %path{:d => "M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z", :fill => "currentColor"}

= render "layouts/mobile_menu"
