#menu-dropdown.hidden.absolute.right-0.z-10.mt-4.w-36.origin-top-right.rounded-md.border.border-gray-100.bg-white.shadow-lg{:role => "menu"}
  .p-2
    - member_memu.each do |link , text|
      %a.block.rounded-lg.px-4.py-2.text-sm.text-gray-500.hover:bg-gray-50.hover:text-gray-700{:href => link, :role => "menuitem"}
        =text

:javascript
  var drop_hidden = true;
  function dropdown(){
    var x = document.getElementById("menu-dropdown");
    if( drop_hidden == true){
      x.style.display = "block";
      drop_hidden = false ;
    } else {
      x.style.display = "none";
      drop_hidden = true ;
    }
  }
