!!!
%html
  %head
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %meta{:content => "#00aba9", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wonder of Life
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind"
    = stylesheet_link_tag "application"

    = javascript_importmap_tags
    - if false
      %script{:src => "https://cdn.tailwindcss.com"}

  %body.xl:mx-auto{class: "max-w-[1920px]"}
    = render "layouts/header"
    = render "layouts/messages"
    = yield
    = render "layouts/footer"
